<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduVision AI</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://js.pusher.com/8.2.0/pusher.min.js"></script>
    <script>
        window.PUSHER_KEY = '<%= process.env.PUSHER_KEY %>';
        window.PUSHER_CLUSTER = '<%= process.env.PUSHER_CLUSTER %>';
        window.currentUserId = '<%= currentUser ? currentUser._id : null %>';
    </script>
</head>
<body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/flash') %>
    <%- body %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <script src="/js/validate-form.js"></script>
    <script src="/js/flashcard.js"></script>
</body>
</html>
